/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 头图透明 */
#page-header {
    background: transparent !important;
}

/* 侧边栏透明 */
#sidebar {
    background: transparent !important;
}

/* 代码框主题 */
#article-container figure.highlight {
    border-radius: 10px;
}